body {
    font-family: 'Roboto Mono'; font-size: 20px;
    text-transform: uppercase;
    background-color: #352F44;
    color: #FAF0E6;
}


* {
    padding: 0;
    margin: 0;
}

canvas{
    background: #FAF0E6;
    display: block;
    margin: 0 auto;
    border-color: black;
}

#scored{
    display: flex;
    flex-direction: row;
    font-weight: bold;
    padding-left: 100px;
}

